<script src="https://cdn.tailwindcss.com"></script>


  <header class="navbar">
    <!-- Logo -->
    <div class="logo">
      <!-- Dùng logo SVG mặc định trong assets; bạn có thể thay bằng PNG cùng tên nếu muốn -->
      <img src="/assets/logoHaiAnhEm.png" alt="Hai Anh Em - Logo" style="border-radius: 60px; width: 70px; height: 60px;">
    </div>

    <!-- Menu chính -->
    <nav class="main-menu">
  <a [routerLink]="['/']">Trang chủ</a>
  <a [routerLink]="['/fields']"><i class="fa-solid fa-futbol"></i> Bóng đá</a>
      <a href="#"><i class="fa-solid fa-stopwatch"></i> Tennis</a>
      <a href="#"><i class="fa-solid fa-badminton"></i> Cầu lông</a>
      <a href="#"><i class="fa-solid fa-table-tennis-paddle-ball"></i> Bóng bàn</a>
    </nav>

    <!-- Khu vực và ngôn ngữ -->
    <div class="right-section">
      <!-- <div class="location">
        <i class="fa-solid fa-location-dot"></i>
        <div>
          <span class="label">KHU VỰC</span><br>
          <span class="value">Thanh Xuân, Hà Nội <i class="fa-solid fa-chevron-down"></i></span> -->
        <!-- </div>
      </div> --> 

      <div class="btn-login-logout" [class.register-active]="isRegister" *ngIf="!userName">
        <a class="btn-login"  (click)="onLogin($event)">Đăng nhập</a>
        <a class="btn-logout"  (click)="onRegister($event)">Đăng ký</a>
      </div>
      <div class="greeting" *ngIf="userName">
        <span>Xin chào, {{ userName }}!</span>
        <!-- <a class="btn-logout" (click)="onLogout($event)">Đăng xuất</a> -->

        <button class="btn-logout relative font-semibold border-2 px-6 py-2 border-brand overflow-hidden group rounded-full cursor-pointer" (click)="onLogout($event)">
          <span class="absolute inset-0 bg-brand -translate-x-full rounded-full transition-transform duration-300 group-hover:translate-x-0 group-focus:translate-x-0"></span>
          <span class="relative z-10 transition-colors duration-300 text-brand group-hover:text-white group-focus:text-white">Đăng xuất</span>
        </button>
      </div>

      <!-- <div class="language">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Vietnam.svg" alt="VN">
        <div>
          <span class="label">Ngôn ngữ</span><br>
          <span class="value">Tiếng Việt <i class="fa-solid fa-chevron-down"></i></span>
        </div>
      </div> -->
    </div>
  </header>


