* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.logo img {
  height: 45px;
}

.main-menu {
  display: flex;
  align-items: center;
  gap: 25px;
  flex: 1;
  justify-content: center;
}

.main-menu a {
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s;
}

.main-menu a.active {
  color: #ff004c;
  font-weight: 700;
}

.main-menu a:hover {
  color: #ff004c;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 35px;
}

.location, .language {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.location .label,
.language .label {
  font-size: 12px;
  color: #555;
}

.location .value,
.language .value {
  font-size: 13px;
  color: #1c1c1c;
  font-weight: 500;
}

.language img {
  width: 26px;
  height: 18px;
  border-radius: 3px;
  object-fit: cover;
}

.btn-login-logout {
  position: relative;
  border: 1px solid #8bc6e9;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}

.btn-login-logout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background-color: #8bc6e9;
  border-radius: 50px;
  transition: left 0.3s ease-in-out;
}

.btn-login-logout.register-active::before {
  left: 100px;
}

.btn-login,
.btn-logout {
  position: relative;
  z-index: 1;
  display: flex;
  font-size: 14px;
  width: 100px;
  height: 48.5px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #000;
  background-color: transparent;
}

.btn-login-logout.register-active .btn-login,
.btn-login-logout:not(.register-active) .btn-logout {
  color: #000;
}

.btn-login-logout:not(.register-active) .btn-login,
.btn-login-logout.register-active .btn-logout {
  color: #fff;
}

.greeting {
  font-size: 14px;
  color: #1c1c1c;
  display: flex;
  align-items: center;
  gap: 10px;
}

.greeting .btn-logout {
  font-size: 14px;
  color: #ff004c;
  cursor: pointer;

}

