.footer {
  background-color: #222;
  color: #f5f5f5;
  padding: 40px 20px 10px;
  font-family: 'Poppins', sans-serif;

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
  }

  .footer-section {
    flex: 1;
    min-width: 250px;

    h3, h4 {
      color: #4caf50;
      margin-bottom: 15px;
    }

    p, li {
      color: #ddd;
      line-height: 1.6;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    .social-icons {
      display: flex;
      gap: 15px;
      

      a img {
        width: 50px;
        height: 50px;
        // filter: brightness(0) invert(1);
        // transition: transform 0.3s, filter 0.3s;
      }

      a:hover img {
        transform: scale(1.2);
        filter: invert(61%) sepia(72%) saturate(319%) hue-rotate(73deg) brightness(97%) contrast(92%);
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #444;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
  }
}
